# Api connection for data extraction
requests==2.32.5

# Data base management
psycopg2-binary==2.9.11

# Enviroment
python-dotenv==1.2.1

# Orchetration
prefect==3.6.18

# Database migrations
yoyo-migrations